<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512...">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <style>

.carousel-item-next,
 .carousel-item-prev,
  .carousel-item.active {
    display: block;
  }
        body{
         background-image: url('{% static "images/yellow.jpg" %}');
         background-repeat: no-repeat;
         background-size: cover;
        }
        /* Your custom styles here */
    .navbar {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 15px;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
    }

    .navbar a, .dropdown-menu a {
      color: black;
    }

    .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black;
    border: yellow;
    border-radius: .25rem;
}

       </style>
</head>
<body>
  
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}" style="color: black; font-size: 110%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-style: italic;">LUXECART</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for c in catgy %}
              <a class="dropdown-item" href="{% url 'products' c.id %}">{{c.catogory_name}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'user_logout' %}" style="color: black;">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'user_signup' %}" style="color: black;"><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'cartpage' %}" style="color: black;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  
 
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/caro.jpg' %}" alt="Los Angeles" class="img-fluid" width="100%" height="200px">
        <div class="carousel-caption">
          <h1 style="font-size: 50px;font-family: 'Times New Roman', Times, serif;">New year big bang sale</h1>
        </div>

      </div>
      <div class="carousel-item">
        <img src='{% static "images/saree.jpg" %}' alt="Chicago" class="img-fluid" width="100%" height="200px">
        <div class="carousel-caption">
          <h1 style="font-size: 40px;font-family: 'Times New Roman', Times, serif;color: cornsilk;">Wedding Sale with surprising Rate</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/caro9.jpg' %}" alt="New York" class="img-fluid" width="100%" height="200px">
        <div class="carousel-caption">
          <h1 style="font-size: 50px;font-family: 'Times New Roman', Times, serif;color: rgb(70, 41, 6);">Celebrate this Diwali with us</h1>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>

  <br><br>

  <h1
    style="text-align: center; font-size: 75px;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    FEATURED BRANDS</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-top: 10PX;text-align: center;">
    <div class="col">
      <div class="card">
        <img src='{% static "images/banyan.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">H&M banyans</h5>
          <p class="card-text"><button>see items</button></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src='{% static "images/JACKET.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Denim Jackets</h5>
          <p class="card-text"><button>see items</button></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src='{% static "images/shirt.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Allensolly</h5>
          <p class="card-text"><button>see items</button></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src='{% static "images/white.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Addidas</h5>
          <p class="card-text"><button>see items</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src='{% static "images/handm.jpg" %}' class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Zudio</h5>
        <p class="card-text"><button>see items</button></p>
      </div>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <img src='{% static "images/ban3.jpg" %}' class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>
  </div>
  </div>
  <!-- Footer -->
  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
            class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our Best collections</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example24" class="form-control" />
                <label class="form-label" for="form5Example24">Email address</label>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->

      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          LuxeCart Inc. is an American multinational technology company focusing on e-commerce, cloud computing,
          online advertising, digital streaming, and artificial intelligence. It is considered one of the Big Five
          American technology companies, alongside Alphabet (parent company of Google), Apple, Meta (parent company of
          Facebook) and Microsoft.
        </p>
      </section>
      <!-- Section: Text -->

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Link 1</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 2</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 3</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Link 1</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 2</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 3</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Link 1</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 2</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 3</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Link 1</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 2</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 3</a>
              </li>
              <li>
                <a class="text-body" href="#!">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</body>

</html>
  
  
</body>
</html>
