<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <style>
        body{
            background-color: rgb(9, 9, 231);
            margin-top: 10%;
            background-image: url('{% static "images/pp.jpeg" %}');
        }
    </style>
</head>

<body><center>
    <div class="container">
        <h3>Edit Details</h3>
        <form action="{% url 'update' stud.id %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="">Student Name</label></td>
                    <td><input type="text" name="stud_name" value="{{stud.name}}"></td>
                </tr>
                <tr>
                    <td><label for="">Address</label></td>
                    <td><textarea name="stud_addr" id="" cols="30" rows="4">{{stud.address}}</textarea></td>
                </tr>
                <tr>
                    <td><label for="">Age</label></td>
                    <td><input type="number" name="stud_age" value="{{stud.age}}"></td>
                </tr>
                <tr>
                    <td><label for="">Email Address</label></td>
                    <td><input type="text" name="stud_email" value="{{stud.email}}"></td>
                </tr>
                <tr>
                    <td><label for="">Joining Date</label></td>
                    <td><input type="date" name="stud_doj" value="{{stud.joiningDate|date:'Y-m-d'}}"></td>
                </tr>
                <tr>
                    <td><label>Qualification</label></td>
                    <td><select name="stud_qual" id="">       
                            <option value="SSLC" {% if stud.qualification == 'SSLC' %}selected{% endif %}>SSLC</option>
                            <option value="Plus Two" {% if stud.qualification == 'Plus Two' %}selected{% endif %}>Plus Two</option>
                            <option value="Degree" {% if stud.qualification == 'Degree' %}selected{% endif %}>Degree</option>
                            <option value="Diploma" {% if stud.qualification == 'Diploma' %}selected{% endif %}>Diploma</option>
                        </select></td>
                </tr>
                <tr>
                    <td><label for="">Gender</label></td>
                    <td><input type="radio" name="stud_gender" value="Male" {% if stud.gender == 'Male' %} checked {% endif %}>Male<br>
                    <input type="radio" name="stud_gender" value="Female" {% if stud.gender == 'Female' %}checked{% endif %}>Female</td>
                </tr>
                <tr>
                    <td><label for="">Mobile Number</label></td>
                    <td><input type="text" name="stud_mob" value="{{stud.mobile}}"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Update</button></td>
                </tr>
            </table>
        </form>
    </div>
</center>
</body>

</html>