<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <!-- Add any additional styles or link to a stylesheet here -->
</head>
<body>

    <h1>Edit Profile</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Usermember Form Fields -->
        <label for="address">Address:</label>
        <input type="text" name="address" value="{{ member.address }}" required>
        <br>

        <label for="c_number">Contact Number:</label>
        <input type="text" name="c_number" value="{{ member.c_number }}" required>
        <br>

        <label for="profilepic">Profile Picture:</label>
        <input type="file" name="profilepic">
        <br>

        <button type="submit">Save Changes</button>
    </form>

    <a href="{% url 'user_profile' user_id=user.id %}">Back to Profile</a>

</body>
</html>
