<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <STYle>
        body{background-color:brown;}
    </STYle>
</head>
<body>
  <h1>ERNAKULAM</h1>
  <p>Ernakulam is the central business district of the city of Kochi, Kerala, India.
    It is the namesake of Ernakulam district. The eastern part of Kochi city is mainly known as
    Ernakulam, while the western part of it after the Venduruthy Bridge is called as Western Kochi.</p>
    <a href="{% url 'index' %}" class="btn btn-primary">back</a>
</body>
</html>