<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <STYle>
        body {
            background-color: brown;
        }
    </STYle>
</head>

<body>
    <h1>THIRUVANANTHAPURAM</h1>
    <p>Thiruvananthapuram's economy comprises Information Technology, education, plantations, aerospace, commerce and
        tourism. Thiruvananthapuram district contributes 10.31%, of the state's GDP. With an economic growth rate of
        13.83%,</p>
        <a href="{% url 'index' %}" class="btn btn-primary">back</a>
</body>

</html>