<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <STYle>
        body {
            background-color: brown;
        }
    </STYle>
</head>

<body>
    <h1>PALAKKAD</h1>
    <p>Palakkad , also known as Palghat, historically known as Palakkattussery, is a city and municipality in the Indian
        state of Kerala. It is the administrative headquarters of the Palakkad District.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">back</a>
</body>

</html>