<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <style>
       
       
        .other-category {
            display: none;
            margin-top: 10px; /* Adjust as needed */}
    </style>
     
     <script>
        $(document).ready(function () {
            $('#categories').change(function () {
                if ($(this).val() === 'other') {
                    $('.other-category').slideDown();
                } else {
                    $('.other-category').slideUp();
                }
            });
        });
    </script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo and User Dashboard Heading -->
    <a class="navbar-brand" href="{% url 'index'  %}">
        <h1 style="color: coral; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;">Online Service Provider</h1>
    </a>

    <!-- Button to toggle the navbar on small screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- User Dashboard Heading (Visible on Mobile) -->
            <li class="nav-item d-lg-none">
                <h1 style="color: coral; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;">User Dashboard</h1>
            </li>

            <!-- Other Navbar Items -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Signup
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'worker_signup' %}">Worker Signup</a>


                    <a class="dropdown-item" href="{% url 'usersignup' %}" >User Signup</a>
                   

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'loginpage' %}">Login</a>
            </li>
           
        </ul>
    </div>
</nav>

<center>
  <div class="container mt-4" >
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if messages %}
                <div class="card bg-info">
                    <div class="card-body">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>





    
       
        <div class="row" style="margin-left: 40px;margin-right: 40px;">
            <div class="col-md-2"></div>
            <div class="col-md-8 mt-5">
                <div class="card p-3">
                    <h2 style="text-align: center;font-size: 300%;color:coral;">Register your Account</h2>
                    <form method="post" enctype="multipart/form-data" action="{% url 'workercreate' %}" class="row g-3">

                        {% csrf_token %}
                        <div class="col-md-6">
                            <label for="firstname" class="form-label">First Name:</label>
                            <input type="text" name="firstname" class="form-control" required>
                          </div>

                          <div class="col-md-6">
                            <label for="lastname" class="form-label">Last Name:</label>
                            <input type="text" name="lastname" class="form-control" required>
                          </div>

                          <div class="col-md-6">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" name="username" class="form-control" required>
                          </div>

                          <div class="col-md-6">
                            <label for="address" class="form-label">Address:</label>
                            <input type="text" name="address" class="form-control" required>
                          </div>

                          <div class="col-md-6">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" name="email" class="form-control" required>
                          </div>
                              <!-- Display email validation error -->
            {% if 'Email is required.' in messages %}
            <div class="col-md-6">
                <div class="alert alert-danger">{{ 'Email is required.' }}</div>
            </div>
        {% endif %}
        {% if 'Invalid email format.' in messages %}
            <div class="col-md-6">
                <div class="alert alert-danger">{{ 'Invalid email format.' }}</div>
            </div>
        {% endif %}

                        
                        
                    <div class="col-md-6">
                      <label for="categories">Categories:</label>
                      <select id="categories" name="sel" class="form-control mt-3" required >
                          <option value="" selected disabled>Select Category</option>
                          {% for c in category %}
                              <option value="{{c.category_name}}">{{c.category_name}}</option>
                          {% endfor %}
                          <option value="other">Other</option>
                      </select>
                  </div>
                  <div class="col-md-6 other-category">
                      <label for="new_category">New Category:</label>
                      <input type="text" name="new_category" class="form-control mt-3"  >
                  </div>


                        
                        <div class="col-md-6">
                            <label for="contactnumber" class="form-label">Contact Number:</label>
                            <input type="text" name="contactnumber" class="form-control" required>
                          </div>
                          <!-- Display contact number validation error -->
            {% if 'Invalid contact number format.' in messages %}
            <div class="col-md-6">
                <div class="alert alert-danger">{{ 'Invalid contact number format.' }}</div>
            </div>
        {% endif %}

                          <div class="col-md-6">
                            <label for="experience" class="form-label">Experience:</label>
                            <input type="text" name="experience" class="form-control" required>
                          </div>

                          <div class="col-md-6">
                            <label for="dob" class="form-label">Date of Birth:</label>
                            <input type="date" name="dob" class="form-control" required>
                          </div>

                          <div class="col-md-6">
                            <label for="id_type" class="form-label">ID Type:</label>
                            <input type="text" name="id_type" class="form-control" required>
                          </div>
                        <input type="hidden" name="text" class="form-control" value="3">

                        <div class="col-md-6">
                            <label for="profile_picture" class="form-label">upload id card:</label>
                            <input type="file" name="profile_picture" class="form-control-file" accept="images/*"  required>
                          </div>

                          <div class="col-md-6">
                            <label for="certificate" class="form-label">Certificate:</label>
                            <input type="file" name="certificate" class="form-control-file" accept=".pdf"  required>
                          </div>
                          <div class="col-12">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck"  required>
                              <label class="form-check-label" for="gridCheck">
                                Check out all the fields are correct
                              </label>
                            </div>
                          </div>
                          <div class="col-12">
                            <button type="submit" class="btn btn-info">Submit</button>
                          </div>
                    </form>
       




                </div>
            </div>
        </div>
 
       
   
      </center>   

</body>

</html>
